@-webkit-keyframes cta {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes cta {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes introScale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes introScale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #141a32;
}

body::-webkit-scrollbar-thumb {
  background-color: #007aff;
  border-radius: 10px;
}

main {
  z-index: 90;
}

.primary__button {
  padding: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-radius: 32px;
  background-color: #007aff;
  text-decoration: none;
  cursor: pointer;
}

.primary__button:hover {
  background-color: #007bffd8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  inline-size: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  inline-size: 100%;
  block-size: 70px;
  padding: 0 5%;
  background-color: #080f28;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 100%;
  max-inline-size: 1280px;
}

.nav__logo-container {
  text-decoration: none;
}

.nav__logo-img {
  inline-size: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.nav__menu-container {
  position: absolute;
  top: 70px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  -ms-scroll-chaining: smooth;
      overscroll-behavior: smooth;
  inline-size: 100%;
  block-size: calc(100vh - 70px);
  background-color: #080f28;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.nav__menu-container2 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  inline-size: 90%;
  padding: 12px 8px;
  margin: 20px 0;
  border: 1px solid #222e57;
  border-radius: 8px;
}

.nav__info-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__info-image {
  inline-size: 36px;
  block-size: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.nav__info-data-text {
  -webkit-margin-start: 4px;
          margin-inline-start: 4px;
}

.nav__data-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.nav__data-subtitle {
  font-size: 1.2rem;
  color: #ffffff;
}

.nav__list {
  inline-size: 90%;
  -webkit-border-before: 1px solid #737785;
          border-block-start: 1px solid #737785;
  list-style: none;
}

.nav__list-link {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3;
  color: #ffffff;
  text-decoration: none;
}

.nav__list-link:hover {
  color: #007aff;
}

.nav__list-item--cta {
  display: none;
}

.nav__list-link--cta:hover {
  color: #ffffff;
}

.nav__list-link--active {
  -webkit-border-after: 2px solid #007aff;
          border-block-end: 2px solid #007aff;
}

.nav__contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 90%;
  margin-block: 20px;
  -webkit-border-before: 1px solid #737785;
          border-block-start: 1px solid #737785;
}

.nav__contact-title {
  margin-block: 32px;
  font-size: 4rem;
  font-weight: 700;
  color: #4f6b95;
}

.nav__contact-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  inline-size: 100%;
  max-inline-size: 500px;
  list-style: none;
}

.contact-options-link {
  display: block;
  inline-size: 60px;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.contact-options-link-img {
  inline-size: inherit;
  padding: 12px;
  -webkit-margin-after: 4px;
          margin-block-end: 4px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  background-color: #181f36;
}

.contact-options-link-img:hover {
  background-color: #3d4f91;
  -webkit-animation: cta 0.3s ease-in-out;
          animation: cta 0.3s ease-in-out;
}

.contact__line {
  inline-size: 50%;
  block-size: 4px;
  -webkit-margin-before: 32px;
          margin-block-start: 32px;
  background-color: #007aff;
  border-radius: 1px;
}

.nav__btn-icon {
  inline-size: 50px;
  block-size: 50px;
  padding: 4px;
  background-color: #007aff;
  border-radius: 50%;
  cursor: pointer;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 100%;
  block-size: calc(100vh - 70px);
  -webkit-margin-before: 70px;
          margin-block-start: 70px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #080f285e), to(#080f28)), url(https://i.postimg.cc/6qJQdqQ0/hero.jpg);
  background-image: linear-gradient(180deg, #080f285e 25%, #080f28 100%), url(https://i.postimg.cc/6qJQdqQ0/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  inline-size: 90%;
  -webkit-animation: introScale 1.2s;
          animation: introScale 1.2s;
}

.hero__info-image {
  inline-size: 156px;
  block-size: 156px;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  border: 4px solid #007aff;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__text-title {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
}

.hero__text-subtitle {
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
  font-size: 1.8rem;
  color: #ffffff;
}

.hero__text-cta {
  display: inline-block;
  padding: 16px 20px;
  font-size: 1.8rem;
}

.hero__text-cta:hover {
  -webkit-animation: cta 0.3s ease-in-out;
          animation: cta 0.3s ease-in-out;
}

.secondary__button {
  padding: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-radius: 32px;
  background-color: #3d4f91;
  text-decoration: none;
  cursor: pointer;
}

.secondary__button:hover {
  background-color: #007aff;
}

.description-main {
  inline-size: 100%;
  -webkit-margin-after: 70px;
          margin-block-end: 70px;
}

.card-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  inline-size: 90%;
  max-inline-size: 1280px;
  margin: 0 auto;
  border-radius: 12px;
}

.card-desc__image {
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card-desc__info {
  inline-size: 100%;
  background-color: #141a32;
  padding: 20px;
}

.card-desc__info-title {
  -webkit-margin-after: 12px;
          margin-block-end: 12px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffffff;
}

.card-desc__info-paragraph {
  -webkit-margin-after: 16px;
          margin-block-end: 16px;
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.5;
  color: #8da0bc;
}

.card-desc__info-cta {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1.8rem;
}

.card-desc__info-cta-icon {
  inline-size: 20px;
  block-size: 20px;
  vertical-align: middle;
}

.abilities-main {
  inline-size: 100%;
  -webkit-margin-after: 70px;
          margin-block-end: 70px;
}

.abilities-container {
  inline-size: 90%;
  max-inline-size: 1280px;
  margin: 0 auto;
}

.abilities-container__title {
  -webkit-margin-after: 12px;
          margin-block-end: 12px;
  padding-block: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 36px;
  color: #ffffff;
  -webkit-border-before: 1px solid #222e57;
          border-block-start: 1px solid #222e57;
}

.abilities-container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 16px;
}

.card-ability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 100%;
  block-size: 100px;
  max-inline-size: 400px;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(61, 79, 145, 0.2);
}

.card-ability__image {
  inline-size: 70px;
  -webkit-margin-end: 12px;
          margin-inline-end: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card-ability__name {
  -webkit-margin-after: 4px;
          margin-block-end: 4px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.card-ability__desc {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #8da0bc;
}

.card-ability--more {
  border: 1px dashed #007aff;
}

.card-ability__more {
  margin: 0 auto;
  font-size: 1.8rem;
  color: #007aff;
}

.projects-main {
  inline-size: 100%;
  -webkit-margin-after: 70px;
          margin-block-end: 70px;
}

.projects-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "top" "main" "button";
  inline-size: 90%;
  max-inline-size: 1280px;
  margin: 0 auto;
}

.projects-container__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  -webkit-margin-after: 12px;
          margin-block-end: 12px;
  padding-block: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 36px;
  color: #ffffff;
  -webkit-border-before: 1px solid #222e57;
          border-block-start: 1px solid #222e57;
}

.projects-container-cards {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
}

.card-project {
  position: relative;
  overflow: hidden;
  inline-size: 100%;
  block-size: 280px;
  max-inline-size: 400px;
  border-radius: 12px;
}

.card-project__background {
  inline-size: 100%;
  block-size: 100%;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.project-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 4px;
  inline-size: 100%;
  block-size: 50%;
  padding: 16px;
  border-radius: 0 0 8px 8px;
  background-color: rgba(8, 15, 40, 0.7);
}

.project-info__title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.project-info__desc {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #8da0bc;
}

.info-technologies {
  display: inline-block;
}

.info-technologies__icon {
  inline-size: 30px;
  block-size: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.info-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
  padding: 16px;
}

.info-links__link {
  display: inherit;
  padding: 8px;
  border-radius: 50%;
  -webkit-margin-start: 8px;
          margin-inline-start: 8px;
}

.info-links__icon {
  display: inherit;
  inline-size: 30px;
  block-size: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.more-projects__cta {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  display: inline-block;
  inline-size: 60%;
  -webkit-margin-before: 32px;
          margin-block-start: 32px;
  padding: 16px 20px;
}

.more-projects__cta:hover {
  -webkit-animation: cta 0.3s ease-in-out;
          animation: cta 0.3s ease-in-out;
}

.contact-main {
  inline-size: 100%;
  -webkit-margin-after: 70px;
          margin-block-end: 70px;
}

.contact-container {
  inline-size: 90%;
  max-inline-size: 1280px;
  margin: 0 auto;
}

.contact-container__title {
  -webkit-margin-after: 12px;
          margin-block-end: 12px;
  padding-block: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 36px;
  color: #ffffff;
  -webkit-border-before: 1px solid #222e57;
          border-block-start: 1px solid #222e57;
}

.nav__contact-options--section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-inline-size: none;
  row-gap: 50px;
}

.contact-options-link--section {
  inline-size: 80px;
}

body {
  background-color: #080f28;
}