* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #141a32;
}

body::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}

main {
  z-index: 90;
}

@-webkit-keyframes cta {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cta {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes entranceScale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes entranceScale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes entranceAnimationTop {
  0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes entranceAnimationTop {
  0% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes entranceAnimationBottom {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes entranceAnimationBottom {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes entranceAnimationRight {
  0% {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes entranceAnimationRight {
  0% {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes entranceAnimationLeft {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes entranceAnimationLeft {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.entrance-animation {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.entrance-animation-top {
  -webkit-animation: entranceAnimationTop 0.5s;
          animation: entranceAnimationTop 0.5s;
}

.entrance-animation-bottom {
  -webkit-animation: entranceAnimationBottom 0.5s;
          animation: entranceAnimationBottom 0.5s;
}

.entrance-animation-right {
  -webkit-animation: entranceAnimationRight 0.5s;
          animation: entranceAnimationRight 0.5s;
}

.entrance-animation-left {
  -webkit-animation: entranceAnimationLeft 0.5s;
          animation: entranceAnimationLeft 0.5s;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  inline-size: auto;
  border: none;
}

.nav__menu-container {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  inline-size: auto;
  block-size: calc(100% - 70px);
  background-color: transparent;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__info-container {
  display: none;
}

.nav__list-link {
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
}

.nav__list-item--cta {
  display: inline-block;
}

.nav__contact-container {
  display: none;
}

.nav__btn-container {
  display: none;
}

.slider {
  block-size: 65vh;
}

.slider__btn--right {
  right: 30px;
}

.slider__btn--left {
  left: 30px;
}