.description-main {
    inline-size: 100%;
    margin-block-start: 32px;
    margin-block-end: 70px;
}

.card-desc {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    inline-size: 90%;
    max-inline-size: 1280px;
    margin: 0 auto;
    border-radius: 12px;
}

.card-desc__image {
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
}

.card-desc__info {
    inline-size: 100%;
    background-color: $color-background-light;
    padding: 20px;
}

.card-desc__info-title {
    margin-block-end: 12px;
    font-size: $font-size-lg2;
    font-weight: bold;
    color: $color-textprimary;
}

.card-desc__info-paragraph {
    margin-block-end: 16px;
    font-size: $font-size-md;
    line-height: 1.5;
    color: $color-textfourth;
}

.card-desc__info-cta {
    padding: 12px 20px;
    font-size: $font-size-lg;
}

.card-desc__info-cta-icon {
    inline-size: 20px;
    block-size: 20px;
    vertical-align: middle;
}
