/*__________________________________________*/
// Screen >768px
/*__________________________________________*/
.projects-main {
    margin-block-end: 100px;
}

.grid .item {
    inline-size: calc(33.3333% - 20px);
}

.project-info {
    block-size: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.project-info:hover {
    opacity: 1;
}

.more-projects__cta {
    inline-size: 600px;
}
