/*__________________________________________*/
// Screen >768px
/*__________________________________________*/
.abilities-main {
    margin-block-end: 84px;
}

.abilities-container-cards {
    justify-content: space-between;
}

.card-ability {
    inline-size: 32.5%;
    max-inline-size: none;
}

.card-ability__image:hover {
    transform: translate(0, -10px) rotate(10deg);
    animation: all 5s ease-in;
}
