.contact-main {
    margin-block-end: 84px;
}

.contact-container-options {
    justify-content: space-evenly;
}

.contact-container__sentence {
    font-size: $font-size-lg2;
}

.nav__contact-options--section {
    padding: 70px 0;
}

.contact-options-link--section {
    font-size: $font-size-lg;
    font-weight: 400;
    inline-size: 120px;
}
