/*__________________________________________*/
// Screen >768px
/*__________________________________________*/
.hero__info-container {
    flex-direction: row;
    align-items: center;
}

.hero__info-image {
    inline-size: 220px;
    block-size: 220px;
    margin-block-end: 0;
    margin-inline-end: 20px;
}

.hero__text {
    align-items: start;
    text-align: start;
}

.hero__text-title {
    font-size: $font-size-xxl;
}

.hero__text-subtitle {
    font-size: $font-size-xl;
}