/*__________________________________________*/
// Screen >768px
/*__________________________________________*/
.hero-about {
    block-size: 70vh;
}

.hero-about__container-info {
    margin-block-end: 100px;
}

.container-info__text-title {
    font-size: $font-size-xxxl;
}
