.nav__list {
    display: flex;
    flex-direction: row;
    inline-size: auto;
    border: none;
}

.nav__menu-container {
    position: static;
    display: flex;
    overflow: hidden;
    inline-size: auto;
    block-size: calc(100% - 70px);
    background-color: transparent;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__info-container {
    display: none;
}

.nav__list-link {
    margin-inline-start: 20px;
}

.nav__list-item--cta {
    display: inline-block;
}

.nav__contact-container {
    display: none;
}

.nav__btn-container {
    display: none;
}
