/*__________________________________________*/
// Section ->(Hero (My projects))
/*__________________________________________*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100vw;
}

.container-slider {
    position: relative;
    inline-size: 100%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    inline-size: 400%; // 100% por cada imagen que compone el slider
    block-size: 60vh;
    margin-inline-start: -100%;
}

.slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    background: $color-background-hero-projects;
}

.slider__section {
    inline-size: 100%;
}

.slider__img {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.hero-projects__container-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: auto;
    max-inline-size: 1280px;
}

.container-info__text-title {
    margin: 0;
    font-size: $font-size-xl;
    font-weight: bold;
    color: $color-textprimary;
    text-align: center;
    animation: entranceAnimationTop 1.2s;
}

.info__text-title-decoration {
    inline-size: 160px;
    block-size: 3px;
    margin: 0 auto;
    margin: 16px 0 32px 0;
    background-color: $color-primary;
    animation: entranceAnimationTop 1.2s;
}

.buttons-slider {
    display: flex;
    justify-content: space-between;
    inline-size: 90px;
    animation: entranceScale 1.2s;
}

.slider__btn-icon {
    inline-size: 35px;
    block-size: 35px;
    padding: 4px;
    border-radius: 50%;
    background-color: rgba($color-secondary, 0.5);
    cursor: pointer;
}

.slider__btn-icon:hover {
    background-color: $color-secondary;
    animation: cta 0.3s ease-in-out;
}
