/*__________________________________________*/
//Styles -> Return top button
/*__________________________________________*/
.return__btn-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all 300ms ease;
    transform: scale(0);
}

.return__btn-container:hover {
    animation: cta 0.3s ease-in-out;
}

.return__btn-icon {
    inline-size: 50px;
    block-size: 50px;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}

.return__btn-icon:hover {
    background-color: $color-secondary;
}
