.projects-main {
    inline-size: 100%;
    margin-block-end: 70px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 90%;
    max-inline-size: 1280px;
    margin: 0 auto;
}

.projects-container__title {
    place-self: start;
    inline-size: 100%;
    @include titleSectionIndex;
}

.projects-container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
}

.card-project {
    position: relative;
    overflow: hidden;
    inline-size: 100%;
    block-size: 280px;
    max-inline-size: 400px;
    border-radius: 12px;
}

.card-project__background {
    inline-size: 100%;
    block-size: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

.project-info {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    inline-size: 100%;
    block-size: 50%;
    padding: 16px;
    border-radius: 0 0 8px 8px;
    background-color: rgba($color-background, 0.7);
}

.project-info__title {
    font-size: $font-size-lg;
    font-weight: 600;
    color: $color-textprimary;
}

.project-info__desc {
    font-size: $font-size-md;
    line-height: 1.5;
    color: $color-textfourth;
}

.info-technologies {
    display: inline-block;
}

.info-technologies__icon {
    inline-size: 30px;
    block-size: 30px;
    object-fit: contain;
    object-position: center;
}

.info-links {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    padding: 16px;
}

.info-links__link {
    display: inherit;
    padding: 8px;
    border-radius: 50%;
    margin-inline-start: 8px;
}

.info-links__icon {
    display: inherit;
    inline-size: 30px;
    block-size: 30px;
    object-fit: cover;
    object-position: center;
}

.more-projects__cta {
    display: inline-block;
    margin-block-start: 32px;
    padding: 16px;
}

.more-projects__cta:hover {
    animation: cta 0.3s ease-in-out;
}
