.projects-main {
    margin-block-end: 100px;
}

.projects-container-cards {
    justify-content: space-evenly;
}

.card-project {
    max-inline-size: 30%;
}

.project-info {
    block-size: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.project-info:hover {
    opacity: 1;
}
