// Colors
$color-primary: #007bff;
$color-primary-opacity: #007bffd8;
$color-secondary: #3d4f91;
$color-secondary-opacity: #3d4f91d8;
$color-background: #080f28;
$color-background-light: #141a32;
$color-back-button-secondary: #181f36;
$color-background-hero: linear-gradient(180deg, #080f285e 25%, #080f28 100%);
$color-background-image-main: linear-gradient(to top, #080f28, #080f2888, #080f28);
$color-textprimary: #ffffff;
$color-textsecund: #4f6b95;
$color-textthird: #edb709;
$color-textfourth: #8da0bc;
$color-icons-footer: rgba(255, 255, 255, 0.5);
$color-primary-border: #737785;
$color-secoundary-border: #222e57;
//Fonts
$font-primary: "Raleway", sans-serif;
// Font size
$font-size-vs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-lg2: 2.4rem;
$font-size-xl: 4rem;
$font-size-xxl: 6rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
}

body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background-color: $color-background-light;
}
body::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 10px;
}

main {
    z-index: 90;
}

//Return nav__btn
.return__btn-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
.return__btn-icon {
    inline-size: 60px;
    block-size: 60px;
}
