.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-block-start: 70px;
    background-image: $color-background-hero, url(https://i.postimg.cc/6qJQdqQ0/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 90%;
}

.hero__info-image {
    width: 156px;
    height: 156px;
    margin-block-end: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 4px solid $color-primary;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__text-title {
    font-size: $font-size-xl;
    font-weight: bold;
    color: $color-textprimary;
}

.hero__text-subtitle {
    margin-block-start: 8px;
    margin-block-end: 40px;
    font-size: $font-size-lg;
    color: $color-textprimary;
}

.hero__text-cta {
    display: inline-block;
    padding: 16px 20px;
    font-size: $font-size-lg;
}
